@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Inria Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light, #1faae1);
}
